<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.wfql"/>
    <!--使用工厂获取Mapper实例-->
    <bean id="usersMapperByFactory" class="com.wfql.factory.MapperFactory" factory-method="createUsersMapper"/>
    <bean id="usersServiceBySetter" class="com.wfql.service.UsersService" >
        <property name="usersMapperByFactory" ref="usersMapperByFactory" />
    </bean>


</beans>